[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Parse-SDK-iOS-OSX"]
	path = Parse-SDK-iOS-OSX
	url = https://github.com/ParsePlatform/Parse-SDK-iOS-OSX.git
